<!DOCTYPE html>
<html lang="pt-pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESTG RegPedagogicoBot</title>
<link rel="stylesheet" href="static/style.css">
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const textareas = document.querySelectorAll('.text-display, textarea[name=query]');
    textareas.forEach(textarea => {
      textarea.style.height = "";
      textarea.style.height = textarea.scrollHeight + "px";
    });
    function autoAdjustHeight(event) {
      event.target.style.height = "";
      event.target.style.height = event.target.scrollHeight + "px";
    }
    textareas.forEach(textarea => {
      textarea.addEventListener('input', autoAdjustHeight);
    });
  });
</script>
</head>

<body>
<div class="container">
<header>
    <img src="static/ESTG_logo.png" alt="ESTG Logo" id="logo">
    <div>
        <h1>ESTG RegPedagogicoBot</h1>
        <p>Assistente para o Regulamento Pedagógico da ESTG</p>
    </div>
</header>

<main>
    <form method="post" class="prompt-form">
      <textarea name="query" placeholder="Coloca a tua questão..." required rows="1" cols="100" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"></textarea>
      <input type="submit" value="Perguntar">
    </form>

    <div class="predefined-questions">
      <h2>Perguntas Rápidas</h2>
      <form action="/" method="post">
        <button type="submit" name="query" value="Como posso justificar as faltas?">Como posso justificar as faltas?</button>
        <button type="submit" name="query" value="O que é a avaliação contínua?">O que é a avaliação contínua?</button>
      </form>
    </div>

    <div class="response-group" {% if query %} style="display: block;" {% endif %}>
      <textarea class="text-display" readonly>{{ 'Tu: \n' + query if query else 'Tu perguntaste: ' }}</textarea>
      <textarea class="text-display" readonly>{{ 'Bot: \n' + answer if answer else 'Resposta: ' }}</textarea>
    </div>

    {% if documents %}
    <div>
        {% for doc in documents %}
            <div class="doc-container">{{ doc|safe }}</div>
        {% endfor %}
    </div>
    {% endif %}
</main>

<footer>
    <p>© ESTG RegulamentoPedagogicoBot 2025</p>
</footer>
</div>

</body>
</html>
